<h1><%=t('global.forms.new_developer')%></h1>

<%= render "form", developer: @developer %>

<br>

<div>
  <%= link_to t('global.forms.back_developer'), developers_path, class:"btn btn-success" %>
</div>
