<h1><%= t('global.menu.edit_developer') %></h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to t('global.forms.edit_developer'), @user %> |
  <%= link_to t('global.forms.back_developers'), users_path %>
</div>
